* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f2f4f3;
}

::-webkit-scrollbar-thumb {
  background: #a9927d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e503f;
}

/* Dark mode scrollbar */
.dark-mode ::-webkit-scrollbar-track {
  background: #0a0908;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background: #5e503f;
}

.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #a9927d;
}